<h1>showing friends</h1>

<% @friend.each do |friend| %>
  <p>
  <%= image_tag friend.avatar(:thumb) %>
  <%= link_to friend.name, :controller => "users", :action => "profile", :id => friend.id %>
  <%= link_to 'Add friend', friendships_path(:user_id => friend.id), :method => ':create', :class => "btn" %>
  <%= link_to 'Delete friend', friendship_path(:id => 1), :method => 'delete', :class => "btn" %>
  </p>
<% end %>
<%= debug(@friends) %>
