<!DOCTYPE html>
<html>
<head>
  <title>Mysky</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/users/">Home</a></li>
              <li><a href="/myalbums/">My Album</a></li>

              <!--
              <form class="navbar-search">
                <div class="input-append">
                  <input type="text" class="span12" placeholder="Search for users">
                  <button type="submit" class="btn">
                    <i class="icon-search"></i>
                  </button>
                </div>
              </form>
              -->

            </ul>
            <ul class="nav pull-right">
              <% if current_user != nil %>
                <li>
                  <%= image_tag current_user.avatar(:thumb) %>
                </li>
                <li>
                  <%= link_to current_user.name, users_path %>
                </li>

              <%end%>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="nav nav-list span2">
      <div class="left-menu well">
        <li class="nav-header">Home</li>
        <li><a href="/users/"><i class="icon-home"></i>My Page</a></li>
        <li><a href="/myalbums"><i class="icon-book"></i>My Album</a></li>
        <li><a href="/friendships"><i class="icon-user"></i>My Friend</a></li>
        <li class="nav-header">Groups</li>
        <li><a href="/groups"><i class="icon-plus"></i>Add Group</a></li>
        <div class="user-controll">
          <%= link_to "Sign out",  destroy_user_session_path,  :method => :delete %><br>
          <%= link_to "Edit Profile", edit_user_registration_path %>
        </div>
      </div>
    </div>
    <div class="contents span7">
      <%= yield %>
    </div>
    <div class="right-menu span2">
      <% if current_user != nil %>
          <h4>Find your friend</h4>
        <div class = "friend-search-form well">
          <%= search_form_for @search,:url => {:controller => '/users', :action => 'search', :method => 'get'} do |f| %>
            <%= f.text_field :name_cont, :class => 'span12' %>
            <%= f.submit 'Search' %>
          <% end %>

        </div>

          <h4>Post your photo</h4>
        <div class = "post-img-form well">
          <%= form_for(@skyimage) do |f| %>
            <div>
              <%= f.label "Choose an image" %>
              <%= f.file_field :image %>
            </div></br>

            <div>
              <%= f.label :title %>
              <%= f.text_field :title, :class => 'span12' %>
            </div></br>

            <div>
              <%= f.label "Description" %>
              <%= f.text_field :body, :class => 'span12' %>
            </div></br>

            <div>
              <%= f.label :location %>
              <%= f.text_field :location, :class => 'span12' %>
            </div></br>

            <%= f.submit "Post My Sky" %>
          <% end %>
          <div id="notice">
            <% if notice == "done uploading photo" %>
              <div class="alert alert-success"><%= notice %></div>
            <% elsif notice == "unable to upload photo" %>
              <div class="alert alert-error"><%= notice %></div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
</body>


</html>


<script>
$(function() {
  setTimeout(function() {
    $('#notice').fadeOut("slow")
  }, 800);

  $('a[data-method="delete"]').on('ajax:success', function(e, data, status, xhr) {
    $('#post_'+data.post.id).fadeOut("slow");
  });
});
</script>
